<h2>Show comment</h2>

<ul>

  <li>
    <strong>Post:</strong>
    <%= @comment.post_id %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @comment.body %>
  </li>

</ul>

<%= link "Edit", to: comment_path(@conn, :edit, @comment) %>
<%= link "Back", to: comment_path(@conn, :index) %>
